@import '@vtmn/css';

#app {
  margin: 0 20px;
}

#app > * {
  margin: 5px 0;
}

header {
  margin: 10px 0;
  font-size: 2em;
}

.sports-select {
  max-width: 300px;
}

.btn-label:hover {
  cursor: pointer;
}
